
body {
	background-image: url("../images/topography/topography.png");
}

nav, h4,h5{
	font-family: 'Vollkorn SC', serif;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


img{
    width:100px; /* you can use % */
    height: auto;
}

.copyright{
	vertical-align: center;
}

.black-text{
	color: #000000
}